@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resg{
    margin: 2%;

}
.resg ul{
    list-style: none;

}
.resg ul li a{
    font-family: 'Abril Fatface', cursive;
    color: #3369F7 !important;
    padding: 10px;
    transition: all .2s;
}
.resg ul li{
    margin: 2%;
}

.resg ul li a:hover{
    text-decoration: none;
    background-color: #3369F7;
    color: #ffffff !important;
    border-radius: 50px;
}
.cont{
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin-left: 10%;
   
}
h1{
    font-family: 'Abril Fatface', cursive;
}
.fm{
    margin: 5%;
}

